services:
  nginx-web1:
    image: nginx:1.25
    container_name: web1
    ports: ["8081:8081"]
    volumes:
      - ./nginx/web1.conf:/etc/nginx/nginx.conf:ro
      - ./data/logs/web1:/var/log/nginx
    healthcheck:
      test: ["CMD-SHELL", "curl -sf http://localhost:8081 || exit 1"]
      interval: 10s
      timeout: 2s
      retries: 5
      start_period: 5s

  nginx-web2:
    image: nginx:1.25
    container_name: web2
    ports: ["8082:8082"]
    volumes:
      - ./nginx/web2.conf:/etc/nginx/nginx.conf:ro
      - ./data/logs/web2:/var/log/nginx
    healthcheck:
      test: ["CMD-SHELL", "curl -sf http://localhost:8082 || exit 1"]
      interval: 10s
      timeout: 2s
      retries: 5
      start_period: 5s

  nginx-web3:
    image: nginx:1.25
    container_name: web3
    ports: ["8083:8083"]
    volumes:
      - ./nginx/web3.conf:/etc/nginx/nginx.conf:ro
      - ./data/logs/web3:/var/log/nginx
    healthcheck:
      test: ["CMD-SHELL", "curl -sf http://localhost:8083 || exit 1"]
      interval: 10s
      timeout: 2s
      retries: 5
      start_period: 5s
