version: '3.9'

services:
  spark-master:
    build:
      context: ./spark
    container_name: spark-master
    hostname: spark-master
    environment:
      - SPARK_MODE=master
      - SPARK_MASTER_URL=spark://spark-master:7077
      - HOME=/tmp
      - PYSPARK_PYTHON=/opt/bitnami/python/bin/python3
      - PYSPARK_DRIVER_PYTHON=/opt/bitnami/python/bin/python3
    ports:
      - "7077:7077"   # Spark master port
      - "8084:8080"   # Spark UI (changed from 8081 to avoid conflict)
    networks:
      - spark-network
      - appnet
      - influx-net
    volumes:
      - ./spark/src:/opt/spark/app/src
      - ./spark/conf:/opt/spark/app/conf
      - /tmp:/tmp  # fix Ivy

  spark-worker:
    build:
      context: ./spark
    container_name: spark-worker
    hostname: spark-worker
    environment:
      - SPARK_MODE=worker
      - SPARK_MASTER_URL=spark://spark-master:7077
      - HOME=/tmp
      - PYSPARK_PYTHON=/opt/bitnami/python/bin/python3
      - PYSPARK_DRIVER_PYTHON=/opt/bitnami/python/bin/python3
    depends_on:
      - spark-master
    networks:
      - spark-network
      - appnet
      - influx-net
    volumes:
      - ./spark/src:/opt/spark/app/src
      - ./spark/conf:/opt/spark/app/conf
      - /tmp:/tmp

networks:
  spark-network:
    driver: bridge
  # Use external appnet to connect to Kafka
  appnet:
    external: true
  influx-net:
    external: true
    name: realtime-log-analytics-don_influx-net
